.board-container {
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.tiles-container {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    
}

.board-tile {
    border: solid black 2px;
    width: 6.25%;
    height: 45px;
    border-color:  seagreen;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
} 