.board-page-container {
    height: 100%;
    width: 100%;
}

.board-page-section {
    position: relative;
    margin-bottom: 15px;

    height: 215px;
}

.tiles-container {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    transform: rotate(90deg);
}

.board-tile {
    border: solid black 2px;
    width: 6.25%;
    height: 45px;
    border-color:  seagreen;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center; 
} 

.each-play-details {
    display: flex;
    flex-direction: column;
    height: 200px;
    display: flex;
    margin-top: 10px;
    /* justify-content: center; */
    align-items: center;
}

.counter-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.board-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    position: relative;
    /* top: -10px; */
    height: 500px;
}

.exit-game-button:hover {
    cursor: pointer;
}

.dice-counter-container {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    position: relative;
    top: -8px;
    /* background-color: yellow; */
    /* height: 350px; */
    width: 100%;
}

.red-counter-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-family: 'Inconsolata', monospace;
    margin-bottom: 8px;
    margin-left: 15px;
}
.red-counter {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    font-weight: bold;
    color: whitesmoke;
    align-items: center;
    border: red solid 2px;
    width: 155px;
    /* border: gray inset 5px; */
}

.team-name {
    border-bottom: red solid 2px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.player-name {
    display: flex;
    justify-content: center;
    width: 150px;
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: red solid 2px;
    color: whitesmoke;
} 

.each-player-count {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}

.counter-title {
  justify-content: space-around;
}


.dice-roll {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    align-items: center;
    font-size: 25px;
    justify-content: center;
    color: whitesmoke;
    width: 100%;
    height: 50px;
}

.dice {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px;
    font-size: 27px;
    height: 49px;
    width: 63px;
    border: gray outset 5px;
    /* background-color: brown; */
}

.each-turn-container {
    /* margin-top: 10px; */
   
    /* flex-direction: column; */
    /* height: 50px; */
    position: relative;
    /* bottom: -99px; */
    font-family: 'Inconsolata', monospace;
}

.current-player-container {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    align-items: center;
    font-size: 25px;
    color: whitesmoke;
}

.current-player-title {
    border-top: gray outset 5px;
    border-left: gray outset 5px;
    border-bottom: gray outset 5px;
    padding: 6px;
}
.current-player-name {
    border: gray inset 5px;
    padding: 6px;
}

.dice-roll-title {
    border-top: gray outset 5px;
    border-left: gray outset 5px;
    border-bottom: gray outset 5px;
    padding: 8px;
}

.dice-roll-number {
    border: gray inset 5px;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
}

