.form-container {
    display: flex;
    /* position: static; */
    /* clear: both; */
    height: 780px;
    /* width: 600px; */
    /* margin-left: 45%; */
    align-items: center;
    justify-content: center;
    /* left: calc(50% - 240px); */
    /* animation: none; */
    min-width: 319px;
}

.nav-sorry-logo-transparent {
height: 160px;
width: 261px;
justify-content: center;
// margin: 36px auto 24px;
}

.otknav-pills > li {
    float: left;
    position: relative;
    margin-right: 36px;
}

.otknav-pills::before, .otknav-pills::after {
    content: " ";
    display: table;
}

.input-icon {
    content: "\e606";
    position: absolute;
    top: 50%;
    left: 10px;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
    z-index: 2;
    color: #b1b8c8;
    font-size: 24px;
    color: red;
}

.input-login-text {
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: red;
    // margin-left: 10%;
    margin-bottom: 50px;
}

.input-login-text-signup {
    display: flex;
    font-size: 50px;
    justify-content: center;
    color: red;
    // margin-left: 8%;
    // margin-bottom: 50px;
}

.input-username, .input-password {
    font-size: 20px;
    line-height: 1.23536;
    font-size: 20px;
    font-weight: 400;
    width: 100%;
    height: 2.5rem;
    border-radius: 6px;
    border-width: 1px;
    margin-bottom: .82353rem;
    text-align: center;
}

.input-submit {
    cursor: pointer;
    text-align: center;
    background: #0071e3;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    height: 3rem;
    display: block;
    width: 100%;
    border-radius: 6px;
}
.demo-user-btn:hover , .input-submit:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
}

.demo-user-btn { 
    margin-top: 10px;
    cursor: pointer;
    background: #0071e3;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    height: 3rem;
    width: 100%;
    border-radius: 6px;
}

.input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.input-errors {
    text-align: center;
}

.errors { 
    color: red;
}

.sign-up-nav-ctn, .login-nav-ctn{ 
    text-decoration: none;
    border-radius: 4px;
    margin-top: 26px;
    padding: 8px;
    color: white;
    background-color: rgba(94, 94, 95, 0.37);


}

.sign-up-nav-ctn a:hover, .login-nav-ctn a:hover{
    background-color: rgba(255, 255, 0, 0.747);
} 