.rooms-window {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.ul {
    list-style: none;
}

.Home-button {
    font-size: 150px;
}

.li {
    text-align: center;
}

.card-background-image {
    background-image: url("https://i.gifer.com/McuD.gif");
    background-size: 50px, 190px;
    background-repeat: no-repeat;
    // width: 150px;
}

// .card-title {
//     margin-top: 5px;
//     // justify-content: center;
// }
