.rooms-window {
  align-items: center;
  display: flex;
  flex-direction: column;
  z-index: 5;
}

.ul {
  list-style: none;
  z-index: 6;
}

.Home-button {
  font-size: 150px;
}

.li {
  text-align: center;
  z-index: 7;
}

.card-background-image {
  background-image: url("https://i.gifer.com/McuD.gif");
  background-size: 50px, 190px;
  background-repeat: no-repeat;
  // width: 150px;
}

.add-room-modal {
  background-color: white;
  height: 200px;
  width: 300px;
  color: black;
  display: block;
  align-content: center;
  text-align: center;
  font-size: 25px;
  border-radius: 2px;
  //   margin: 5px;
}

.h2 {
  margin-top: 5px;
}

// .card-title {
//     margin-top: 5px;
//     // justify-content: center;
// }

.add-room-modal h2{ 
  padding: 5px; 
  margin: 0px 8px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.438); 
}

.create-room-btn {
  background: none;  
  margin: 32px 6px 6px 6px; 
  padding: 6px 12px;
  cursor: pointer;
  outline: none; 
  transition: all 0.3s;
  border: 1px solid black;
}

.create-room-btn:hover{ 
  color:white; 
  background-color: black;
}

// .button-add-room { 
//   display: flex;
//   justify-content: center;
// } //centers btn but cant click b/c of background

/* The alert message box */
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}