body {
  // background: rgb(19, 27, 58);
  font-family: 'Taviraj', serif;
  padding: 0;
  margin: 0;
  height: 100px;
  background-color: rgb(4, 4, 56);
}

.sorry-banner {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  display: flex;
  // justify-content: space-between;
  height: 80px;
  width: 100%;
  // top: -18px;
  z-index: 5;
  background: rgba(8, 21, 41, 0.863);
  // justify-content: space-between;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  // vertical-align: baseline;
  // position: fixed;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

.banner-menu {
  display: inline-flex;
  width: 1200px;
  justify-content: space-evenly;
  font-size: 15px;
  font-weight: 100;
  font-family: Helvetica;
  // margin-right: 250px;
  // margin-left: 200px;
  /* padding-left: 15px; */
  /* padding-right: 15px; */

  // justify-content: space-between;
  // align-content: stretch;
}

.sorry-banner a {
  /* display: table-row; */
  display: flex;
  // justify-content: space-between;
  align-items: center;

  // width: 150px;
  /* border: 1px solid rgba(255,255,255,0.3); */

  height: 80px;
  /* float: left; */
  // text-align: center;
  margin: 0 13px 0 12px;
  padding: 25px;
  line-height: 45px;
  color: aliceblue;
  font-size: 25px;
  text-decoration: none;
  /* text-align: center; */
  font-family: Helvetica;
}

.greeting-line {
  font-size: 50px;
  color: white;
  text-align: center;
  display: relative;
  margin-top: 15px;
  font-family: Helvetica;
}

.greeting-subtitle {
  font-size: 25px;
  color: white;
  text-align: center;
  display: relative;
  margin-top: 5px;
  font-family: Helvetica;
}

.splashImage {
  display: flex;
  padding-top: 75px;
  justify-content: center;
}

// .logout-button {
//   width: 275px;
//   /* border: 1px solid rgba(255,255,255,0.3); */

//   height: 53px;
//   /* float: left; */
//   text-align: center;
//   margin-bottom: 35px;
//   padding: 2px;
//   line-height: 45px;
//   color: aliceblue;
//   font-size: 25px;
//   text-decoration: none;
// }

.sorry-banner a:hover {
  // background-color: rgba(20, 52, 99, 0.863);
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
}
.first-menu {
  display: flex;
  justify-content: center;
}

.sorry-logo-transparent {
  height: 90px;
  width: 150px;
  margin-top: 3px;
  margin-left: 2px;
  background-attachment: fixed;
  position: relative;
}

.sorry-fighting-background {
  z-index: -500;
  height: 90%;
  width: 90%;
  bottom: 2%;
  left: 5%;
  opacity: 0.5;
  position: fixed;
  display: inline-block;
}

.sorry-logo-background {
  z-index: -50;
  height: 55%;
  width: 55%;
  bottom: -160px;
  left: 51%;
  opacity: 0.5;
  position: fixed;
  display: inline-block;
}

.logo-background-row {
  display: flex;
}

.logo-background-column {
  width: 50%;
  padding: 5px;
}

.footer {
  /* position: absolute; */
  left: 0;
  right: 0;
  /* bottom: -500px; */
  width: 100%;
  min-width: 905px;
  height: 190px;
  background-color: #242f3e;
  display: block;
  float: bottom;
  background: rgba(8, 21, 41, 0.863);
  justify-content: space-between;
  display: flex;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  /* vertical-align: baseline; */
  /* position: fixed; */
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
  color: white;
  /* margin-top: 150%; */
  flex-direction: column;
  font-family: Helvetica;
}

.back-to-top {
  display: block;
  color: #fefefe;
  height: 35px;
  margin-top: 10px;
  margin-bottom: 23px;
  width: 80%;
  background-color: #37475a;
  text-align: center;
  /* padding-top: 18px; */
  font-family: Helvetica;
  font-size: 25px;
  margin-left: 10%;
}

.back-to-top:hover {
  cursor: pointer;
  background: #485769;
}

.get-to-know-text {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 5px;
  border-bottom: 1px solid darkgray;
  width: 80%;
  padding-bottom: 5px;
  margin-left: 10%;
  font-family: Helvetica;
}

.get-to-know {
  display: flex;
  height: 80%;
  text-align: center;
  justify-content: space-evenly;
  margin-bottom: 5px;
  list-style: none;
  font-family: Helvetica;
}

.profile-picture {
  height: 25px;
  width: 25px;
  border: 1px solid darkgray;
  border-radius: 50%;
}

.creator-links {
  text-decoration: none;
}

.sub-bottom-footer {
  /* margin-top: 90% */
}
.bottom-footer {
  /* margin-top: 90%; */
}

.rooms-page-text {
  font-size: 50px;
  justify-content: center;
  text-align: center;
  margin-top: 12px;
  color: rgb(247, 242, 242);
}

.input-errors > li {
  list-style: none;
}

.input-errors > ul > li {
  list-style: none;
}

.bulletin-board {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 400px;
  margin:auto;
  width: 50%;
  // margin-left: 500px;
  background-color: #181818;
  color: #ddd;
  padding: 10px;
  // display: relative;
  // text-align: center;
  // margin-top: 145px;
  font-family: 'Comfortaa';
  border: 3px;
  padding: 20px;
  border-radius: 15px;
  border: 3px solid rgba(76, 121, 245, 0.15);
}

.bulletin-title {
  box-sizing: border-box;
  font-size: 20px;
  text-align: center;
  margin: 10px;
  font-family: 'Comfortaa';
}

.bulletin-content {
  font-size: 17px;
  text-align: justify;
  margin: 10px;
  font-family: 'Comfortaa';
}

.bulletin-link {
  font-size: 17px;
  text-align: center;
  margin: 10px;
  font-family: 'Comfortaa';
}